.single {
    background-color: rgba(139, 139, 139, 0.548);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

.single img {
    max-width: 250px;
    max-height: 200px;
}

.single h2 {
    margin-left: 15px;
}

.single ul li {
    font-size: 14px;
    border-top: 1px solid #fff;
    padding: 5px;
    list-style: none;
}

@media(max-width: 1200px) {
    .single {
        width: 100%;
        margin-top: 30px;
    }
}
@media(max-width: 560px) {
    .single {
       flex-direction: column;
       align-items: center;
    }
}

