.main {
  padding-top: 50px;
  /* width: 80%; */
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}
.main_block {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list, .single  {
  margin: 15px;
}

h2 {
  text-align: center;
}

@media (max-width: 1200px) {
  .main {
    padding-top: 0px;
  }
  .main_block{
    flex-direction: column-reverse;
  }
  .list, .single {
    margin: 0;
  }
}

@media (max-width: 560px) {
  .main {
    width: 100%;
  }
}




/* body {
  background-color: #222;
} */