.main {
  padding-top: 50px;
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}


@media(max-width: 1200px) {
  .main {
      padding-top: 0px;
  }
}

@media(max-width: 560px) {
  .main {
     width: 100%;
  }
}

.main_block {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}